  ../../../.lesshst
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/.vsixmanifest
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/CHANGELOG.md
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/LICENSE.txt
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/README.md
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/SECURITY.md
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/ThirdPartyNotices.txt
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/dist/
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.cs.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.de.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.es.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.fr.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.it.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.ja.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.ko.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.pl.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.pt-br.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.qps-ploc.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.ru.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.tr.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.zh-cn.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/package.nls.zh-tw.json
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/resources/icons/reactions/
        ../../../.vscode/extensions/github.vscode-pull-request-github-0.88.1/telemetry.json
        ../../../AppData/
        ../../../Contacts/
        ../../../Documents/
        ../../../Downloads/
        ../../../Favorites/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.dat
        ../../../NTUSER.dat.bak.{0F9ECD29-0C5A-461F-81AD-B878DF86FA21}
        ../../../NTUSER.dat{b75b0e52-ec54-11ee-9b90-ae85bd981117}.TM.blf
        ../../../NTUSER.dat{b75b0e52-ec54-11ee-9b90-ae85bd981117}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.dat{b75b0e52-ec54-11ee-9b90-ae85bd981117}.TMContainer00000000000000000002.regtrans-ms
        ../../
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini