  ../../../.lesshst
        ../../../AppData/
        ../../../Contacts/
        ../../../Documents/
        ../../../Downloads/
        ../../../Favorites/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.dat
        ../../../NTUSER.dat.bak.{0F9ECD29-0C5A-461F-81AD-B878DF86FA21}
        ../../../NTUSER.dat{b75b0e52-ec54-11ee-9b90-ae85bd981117}.TM.blf
        ../../../NTUSER.dat{b75b0e52-ec54-11ee-9b90-ae85bd981117}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.dat{b75b0e52-ec54-11ee-9b90-ae85bd981117}.TMContainer00000000000000000002.regtrans-ms
        ../../
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini